<table class="menu">
    <tr class="navegador">
        <th class="logo">
            <header class="cabecalho">
                <a href="/">
                    <h1>Hollywood</h1>
                </a>
            </header>
        </th>
        <th class="menu">
            <nav class="menu">
                <ul class="menuLista">
                    <li><input type="button" class="btnMenu" value="Filmes" href="/"></input></li>
                    <li id="login">
                        <a id="loginU" class="btnMenu" href="/login">{{name}}
                        </a>
                    </li>
                    <li id="pesquisa">
                        <a id="pesquisaA" onclick="hide()">
                            <img id="lupa" src="img/lupa.png" alt="lupa" srcset="img/lupa.svg" height="35">
                        </a>
                    </li>
                    <li id="liBarraPesquisa">
                        <input id="barraPesquisa" type="text" placeholder="nome de filme" />
                    </li>
                </ul>
            </nav>
        </th>
    </tr>
</table>

<table class="filmes">
    <nav class="filmes">
        <tr>
            <th>
                <img id="0" href="/movie{{movieId}}" src="img/filmes/0_schindlers.jpg" alt="Schindlers"
                    title="Schindlers">
                <img id="1" href="/movie{{movieId}}" src="img/filmes/1_farway.jpg" alt="Far And Away"
                    title="Far And Away">
                <img id="2" href="/movie{{movieId}}" src="img/filmes/2_intheheartofthesea.jpg"
                    alt="In The Heart Of The Sea" title="In The Heart Of The Sea">
                <img id="3" href="/movie{{movieId}}" src="img/filmes/3_thehateful.jpg" alt="The Hateful Eight"
                    title="The Hateful Eight">
                <img id="4" href="/movie{{movieId}}" src="img/filmes/4_django.jpg" alt="Django Unchained"
                    title="Django Unchained">
                <img id="5" href="/movie{{movieId}}" src="img/filmes/5_sincity.jpg" alt="Sin City" title="Sin City">
                <img id="6" href="/movie{{movieId}}" src="img/filmes/6_dracula.jpg" alt="Bram Stokers Dracula"
                    title="Bram Stokers Dracula">
                <img id="7" href="/movie{{movieId}}" src="img/filmes/7_apocalypse.jpg" alt="Apocalypse Now"
                    title="Apocalypse Now">
                <img id="8" href="/movie{{movieId}}" src="img/filmes/8_terminator2.jpg"
                    alt="Terminator 2: Judgement Day" title="Terminator 2: Judgement Day">
                <img id="9" href="/movie{{movieId}}" src="img/filmes/9_titanic.jpg" alt="Titanic" title="Titanic">
            </th>
        </tr>
    </nav>
</table>

<div class="rodape">
    <section class="rodapeSection">
        <footer class="rodapeIndex">
            <p>&#169; &#160; Trabalho elaborado por:</P>
            <p>&#9655; &#160; António Cachetas - Nº 30002421 &#160; &#9673; &#160;
                Bruno Firmino - Nº 30002416 &#160; &#9673; &#160;
                Caio Diego - N° 30003064 &#160; &#9665;</p>
        </footer>
    </section>
</div>